# Build files and folders
.gradle/
build/

captures/

# Properties
local.properties

# Idea
.idea/
**/*.iml

# Mac OS
.DS_Store

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
